<li>
	<%= if profile_picture_empty user.profile_picture_url(:thumb).to_s
			gravatar_for user
		else
			image_tag user.profile_picture_url(:thumb).to_s 
		end 
	%>
	<%= link_to user.name, user %>
</li>